{% extends 'base.html' %}

{% block style %}

    <style >
        li{
            display: inline-block;
            border: 1px solid blue;
            padding: 10px 20px;
        }
        a{
            text-decoration: none;
            color: #2aaa9f;
        }
    </style>

{% endblock %}


{% block content %}

{% include 'inc-menu.html' %}

<h2>Список товаров</h2>
<ol>
    {% for item in items %}
    <li>
        <a href ="{% url 'item-detail' item.id %}">{{ item.name }}</a>
        <p>
        {{ item.description }}
        </p>
    </li>
    {% endfor %}
</ol>

{% endblock %}