<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item page</title>
</head>
<body>
    / <a href = '/'>Home</a> / <a href = '/items'>Список товаров</a> / <a href = '/about'>About</a> /
    <h2> {{item.name}}</h2>
    <div>Количество: {{ item.quantity| default:"Товар отсутствует" }}</div>
<!--    {% if item.quantity %}-->
<!--    <div>Количество: {{item.quantity}}</div>-->
<!--    {% else %}-->
<!--    <div>Товар отсутствует</div>-->
<!--    {% endif %}-->
    <a href='/items'> Список товаров </a>
</body>
</html>